<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin EGSW</title>
    @Styles.Render("~/adminContent/css")
        @Scripts.Render("~/adminbundles/modernizr")
        <script src="~/Scripts/jquery-1.10.2.js"></script>
    
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EGSW", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.RouteLink("About", "CommingSoon")</li>
                    <li>@Html.RouteLink("Contact", "ContactUs")</li>
                    <li>@Html.RouteLink("FAQ", "CommingSoon")</li>
                    @*<li>@Html.ActionLink("Gutter Clean Request", "GutterCleanRequest", "Home")</li>*@
                </ul>
                @*@Html.Partial("_LoginPartial")*@                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
    </div>
    
    <div class="clearfix" style="margin:0 0 20px;"></div>
    <div class="footer">
        <div class="footer_midle">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="social_left">
                            <li class="facebook"><a href="#"><i class="fa fa-facebook-square fa-3x"></i></a></li>
                            <li class="fb_text">
                                <h4><a href="#">Follow us on Facebook</a></h4>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="social_left">
                            <li class="facebook"><a href="#"><i class="fa fa-twitter-square fa-3x"></i></a></li>
                            <li class="fb_text">
                                <h4><a href="#">Follow us on Twitter</a></h4>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="social_left">
                            <li class="facebook"><a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
                            <li class="fb_text">
                                <h4><a href="#">Follow us on Google +</a></h4>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="social_left">
                            <li class="facebook"><a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
                            <li class="fb_text">
                                <h4><a href="#">Follow us on LinkedIn</a></h4>
                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="footer-lower">
               
                    <div class="footer-info">
                        <span class="footer-disclaimer">Copyright &copy; @DateTime.Now.Year All rights reserved.</span>
                    </div>
                    <div class="footer-powered-by">
                        Powered by <a href="http://circustechnologies.com/">Circus Technologies</a>

                    </div>

               
            </div>

</div>
        </div>
        

    @Scripts.Render("~/adminbundles/jquery")
    @Scripts.Render("~/adminbundles/bootstrap")
    @RenderSection("scripts", required: false)


    @section Scripts {
        @Scripts.Render("~/adminbundles/jqueryval")
    }




</body>
</html>
