@model PagedList.IPagedList<GutterCleanOrder>
@using EGSW.Data
@using PagedList.Mvc;
@{
    ViewBag.Title = "Checklist - In-Process Orders";
    var _dateTimeHelper = DependencyResolver.Current.GetService<EGSW.Services.Directory.IDateTimeHelper>();
   
}


<h4>Checklist - In-Process Orders</h4>
<div class="form-fields table-responsive">
    <table class="table">
        <tr>
            <th>
                
                @Html.ActionLink("Order #", "GutterOrderStepList", new { sortOrder = ViewBag.IdSortParm })
            </th>

            <th>
                Order Status
            </th>
            <th>
                Payment Status
            </th>
            <th>
                
                @Html.ActionLink("Review/Assign Agent", "GutterOrderStepList", new { sortOrder = ViewBag.IsAgentAssignSortParm })
            </th>
           
            <th>
                
                @Html.ActionLink("Work Complete", "GutterOrderStepList", new { sortOrder = ViewBag.IsWorkedComplatedSortParm })
            </th>

            

            <th>
                
                @Html.ActionLink("Customer QA", "GutterOrderStepList", new { sortOrder = ViewBag.IsCustomerQaSortParm })
            </th>

            <th>
                
                @Html.ActionLink("Pay Agent/Worker", "GutterOrderStepList", new { sortOrder = ViewBag.IsPayAgentWorkerSortParm })
            </th>

            <th>
                
                @Html.ActionLink("Last Modified", "GutterOrderStepList", new { sortOrder = ViewBag.LastUpdatedDateUtcSortParm })
            </th>           
           


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Id)*@
                    <a href="@Url.Action("OrderDetail", "GutterOrder", new { orderId = item.Id })">@item.Id</a>
                </td>
                <td>
                    @(((OrderStatus)item.OrderStatusId).ToString())
                </td>
                <td>

                    @(((PaymentStatus)item.PaymentStatusId).ToString())
                </td>
                <td>
                    @item.IsAgentAssign
                </td>

                <td>
                    @item.IsWorkedComplated
                </td>

                

                <td>
                    @item.IsCustomerQa
                </td>
               
                <td>
                    @item.IsPayAgentWorker
                </td>

                <td>
                    @*@Html.DisplayFor(modelItem => item.LastUpdatedDateUtc)*@
                    @if (item.LastUpdatedDateUtc.HasValue)
                    { 
                        @_dateTimeHelper.ConvertToUserTime(item.LastUpdatedDateUtc.Value, DateTimeKind.Utc)
                    }
                </td>

                
            </tr>
        }

    </table>

    <div id='Paging' style="text-align:center">
        @Html.PagedListPager(Model, page => Url.Action("GutterOrderStepList", new { page }))
    </div>
</div>
