@model IEnumerable<EGSW.Data.GutterCleanOrder>

@{
    ViewBag.Title = "CustomerOrders";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    var _dateTimeHelper = DependencyResolver.Current.GetService<EGSW.Services.Directory.IDateTimeHelper>();
}

<h2>CustomerOrders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionSquareFootage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionYearBuilt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionStyleOfGutter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoofMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkerStatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaptureTransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaptureTransactionResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapturePaymentGatwayResponse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionSquareFootage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionYearBuilt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionStyleOfGutter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoofMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zipcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkerStatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaptureTransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaptureTransactionResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapturePaymentGatwayResponse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
